.form-div{
    height: 200px;
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title{
    text-align: center;
}
.input-label{
    font-size: 30px;
}
.main-input{
    height: 40px;
    width: 300px;
    margin-left: 10px;
    border-radius: 15px;
    font-size:18px;
    padding-left: 10px;
}

button{
    height: 40px;
    width: 80px;
    margin-left: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
h2{
    margin-left: 50px;
}